body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	position: relative; /* For scrollyspy */
	font-size: 16px;
	color: #222;
	background-color: #fcfcfc; /* off-white, for better legibility */
	padding-top: 70px;
}
#side-nav ul {
	list-style: none;
	margin-left: 0px;
	margin-right: 30px;
	background-color: #f7f9fa
}
#side-nav ul li {
	font-size: 14px;
}

h1 {
	margin-top: 40px;
}
h2 {
	margin-top: 40px;
	color: #3498db; /* .text-info */
}
h3 {
	margin-top: 70px;
}
h4 {
	margin-top: 30px;
}
h5 {
	
}
h1.page-header {
	margin-top: 22px;
}
.lead {
	font-size: 22px;
	margin-bottom: 10px;
}
.lead .fa {
	padding-right: 10px;
}
pre {
	white-space: pre;
	line-height: 1.5em;
	-moz-tab-size: 4;
	-o-tab-size:   4;
	tab-size:      4;
}
hr {
	margin: 60px 0 40px 0;
	background-color: #ccc;
	height: 1px;
	border: 0;
}
td {
	font-size: .85em;
}
.post-title {
	font-size: 3em;
}
.social-media-list .username, .contact-list a {
	font-weight: normal;
}
.blog {
	font-size: 18px;
}





/***** BOOTSTRAP DOCS *****/

/* Keep code small in tables on account of limited space */
.table code {
	font-size: 13px;
	font-weight: normal;
}


/*
* Side navigation
*
* Scrollspy and affixed enhanced navigation to highlight sections and secondary
* sections of docs content.
*/

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
	position: static;
}

/* First level of nav */
.bs-sidenav {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top:    10px;
	padding-bottom: 10px;
	text-shadow: 0 1px 0 #fff;
	background-color: transparent;
	border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
	display: block;
	color: #2c3e50;
	padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
	text-decoration: none;
	background-color: #e5e3e9;
	border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
	font-weight: 600;
	color: #2c3e50;
	background-color: transparent;
	border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
	display: none; /* Hide by default, but at >768px, show it */
	margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
	padding-top:    3px;
	padding-bottom: 3px;
	padding-left: 30px;
	font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
.bs-sidebar .nav > .active > ul {
	display: block;
}
/* Widen the fixed sidebar */
.bs-sidebar.affix,
.bs-sidebar.affix-bottom {
	width: 213px;
}
.bs-sidebar.affix {
	position: fixed; /* Undo the static from mobile first approach */
	top: 80px;
}
.bs-sidebar.affix-bottom {
	position: absolute; /* Undo the static from mobile first approach */
}
.bs-sidebar.affix-bottom .bs-sidenav,
.bs-sidebar.affix .bs-sidenav {
	margin-top: 0;
	margin-bottom: 0;
}
}
@media screen and (min-width: 1200px) {
/* Widen the fixed sidebar again */
.bs-sidebar.affix-bottom,
.bs-sidebar.affix {
	width: 263px;
}
}